<div class="panel panel-default">
  <div class="panel-body">
    
  <div class="media">
      <div class="lead well">
        <div class="media-left media-top">
          <a href="<%= @question.id %>">
            <img class="media-object" src="<%= @question.gravatar %>" alt="Gravatar">
          </a>
        </div>
        <div class="media-body">
        <div class="panel panel-body"><%= @question.body %></div>
        </div>
      </div>
  </div>
  
        <span class="glyphicon glyphicon-random" aria-hidden="true"></span>
        <div class="label label-default">Asked <%= time_ago_in_words @question.created_at %> ago</div>
    <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#new-answer-modal">Submit new answer</button>
    <%= render 'home/new_answer_form' %>

  </div>
</div>

<ul class="media-list">
  <% @answers.each do |a| %>
  <li class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="<%= a.gravatar %>" alt="Placeholder-image">
      </a>
    </div>
    <div class="media-body">
      <div class="well"><%= a.body %></div>
        <div class="label label-default">Posted <%= time_ago_in_words a.created_at %> ago</div>
    </div>
  </li>
  <% end %>
</ul>


<!-- <ul class="media-list">
  <li class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="http://lorempixel.com/96/96?a" alt="Placeholder-image">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"></h4>
      
      Biodiesel mlkshk brunch salvia waistcoat, typewriter readymade. Gluten-free williamsburg mixtape, freegan VHS jean shorts tofu bitters whatever artisan ethical semiotics post-ironic viral chartreuse. Biodiesel gastropub occupy four dollar toast godard trust fund swag, authentic craft beer mixtape.
    </div>
  </li>
  <li class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="http://lorempixel.com/96/96?b" alt="Placeholder-image">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Gluten-free pickled, truffaut</h4>
      Wolf etsy banjo pop-up kombucha, mlkshk vegan fanny pack austin normcore aesthetic kinfolk humblebrag schlitz. Pork belly kitsch readymade VHS, letterpress blue bottle franzen hoodie salvia tattooed aesthetic fashion axe. Heirloom pitchfork health goth kinfolk, venmo you probably haven't heard of them mumblecore. Brooklyn hella tousled ugh.
    </div>
  </li>
  <li class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="http://lorempixel.com/96/96?c" alt="Placeholder-image">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Thundercats, dreamcatcher photo booth.</h4>
      Tousled echo park +1, single-origin coffee synth vegan XOXO. Farm-to-table selvage synth messenger bag keffiyeh offal. Gochujang kogi thundercats, keffiyeh master cleanse 90's YOLO.
    </div>
  </li>
</ul>

<div>
-->

</div>
