<!-- modal -->
<div class="modal fade" id="AnswerAQuestionForm" tabindex="-1" role="dialog" aria-labelledby="AnswerAQuestionForm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="AnswerAQuestionModal">Answer this Question</h4>
      </div>
<!-- modalForm -->
  <%= form_for :answer, url: '/answers', html: { class: 'form-horizontal' } do %>
    <input type="hidden" name="answer[question_id]" value="<%= @question.id %>">
    <div class="modal-body">
      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">Email</span>
        <input name="answer[email]" type="email" class="form-control" placeholder="Your email address" aria-describedby="sizing-addon1">
      <!--Email <%= email_field(:user, :email) %>-->
      </div>
      
      <br>
      
      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">Answer</span>
        <textarea name="answer[body]" class="form-control" placeholder="What would you like to say?" aria-describedby="sizing-addon1"></textarea>
      <!--Response <%= text_field(:data, :answer) %>-->
      </div>
      
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <!--<button type="submit" class="btn btn-primary">Submit</button>-->
              <%= submit_tag 'Submit', class: 'btn btn-primary' %>
            </div>
    </form>
    </div>
    <% end %>
<!-- /modalForm -->
  </div>
</div>
<!-- /modal -->